.chooseRegisterStyle {
  margin-top: 80px;
  font-family: "AvenirLTStd-Book";
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.chooseRegisterStyle h2 {
  font-family: "AvenirLTPro-Heavy";
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
}

.chooseRegisterStyle img {
  margin-right: 10px;
}

.chooseRegisterStyle span {
  display: block;
  text-align: left;
  margin-bottom: 1px;
  margin-left: 30px;
  margin-right: 30px;
  font-size: 1.1em;
}

.chooseRegisterStyle button {
  margin-top: 75px;
  padding: 20px 60px 20px 60px;
  font-size: 0.9vw;
  position: relative;
}

#userRegisterCol {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/images/placeholders/listing_placeholder_3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  padding: 10% 5% 15% 5%;
}

#practitionerRegisterCol {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/images/placeholders/listing_placeholder_1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  padding: 10% 5% 15% 5%;
}
