.membershipFormStyle {
  margin-top: 160px;
}

.membershipFormStyle h2 {
  text-align: center;
  color: #79158f;
  font-family: "AvenirLTPro-Heavy";
  margin-bottom: 30px;
}

.membershipFormStyle form {
  margin: 0.5% 15% 0.5% 15%;
}

.membershipFormStyle .form-label {
  margin-top: 20px;
  font-family: "AvenirLTPro-Heavy";
  color: #5b5b5b;
}

.membershipFormStyle .form-control {
  font-family: "AvenirLTStd-Book";
  background-color: #f3f1f3;
  color: #79158f;
}

.totalCostContainer {
  padding-top: 75px;
  padding-bottom: 75px;
}

.totalCostContainer h2 {
  margin-bottom: 50px;
  text-align: center;
  color: #79158f;
  font-family: "AvenirLTStd-Book";
}

.orderFormSection {
  font-family: "AvenirLTPro-Heavy";
  color: #5b5b5b;
}

.orderDataSection {
  font-family: "AvenirLTStd-Book";
  color: #79158f;
}

#paymentFormButton {
  margin-top: 50px;
  padding: 15px 85px 15px 85px;
}
