.profileSetupStyle {
  padding-top: 160px;
  padding-left: 200px;
  padding-right: 200px;
}

.profileSetupStyle h2 {
  text-align: center;
  color: #79158f;
  margin-bottom: 60px;
}

.profileSetupStyle form {
  font-family: "AvenirLTStd-Book";
}

.profileSetupStyle .form-group {
  margin-bottom: 30px;
  font-family: "AvenirLTStd-Book";
}

.profileSetupStyle form h5 {
  color: #79158f;
  font-family: "AvenirLTPro-Heavy";
  margin-bottom: 10px;
  margin-top: 20px;
}

.profileSetupStyle form h6 {
  font-family: "AvenirLTStd-Book";
  margin-bottom: 30px;
  color: #3b3b3b;
}

.profileSetupStyle .form-label {
  font-size: 1em;
  color: #3b3b3b;
  margin-bottom: 10px;
}

.custom-file-upload {
  display: inline-block;
  color: #79158f;
  cursor: pointer;
}

.custom-file-upload:hover {
  color: #b823dad3;
}

.custom-file-upload input[type="file"] {
  display: none;
}

.qualificationLabel {
  color: #3b3b3b;
  font-weight: 600;
  margin-top: 5px;
}

.qualificationLabel img {
  margin-right: 5px;
}
.checkboxContainerList {
  color: #3b3b3b;
  max-height: 260px;
  overflow-y: scroll;
  padding: 0px;
  font-size: 1em;
}
.customTrainingStyle {
  margin-bottom: 15px;
}

.customTrainingStyle .col-sm-11 {
  padding-right: 0;
}

.customTrainingStyle .col-sm-1 {
  padding-right: 0;
}

.service-box {
  background-color: #f2e9f4;
  display: inline-block;
  color: #79158f;
  font-family: "AvenirLTStd-Book";
  font-size: 19px;
  padding: 5px 10px 5px 10px;
  margin-bottom: 5px;
  margin-right: 10px;
  text-align: center;
}

/* Create a custom checkbox */
.checkBoxFill {
  position: absolute;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border: 1px solid #3b3b3b;
  cursor: pointer;
}

.serviceContainer {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.serviceContainer input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

/* On mouse-over, add a grey background color */
.serviceContainer:hover input ~ .checkBoxFill {
  background-color: #b823dad3;
}

/* When the checkbox is checked, add a blue background */
.serviceContainer input:checked ~ .checkBoxFill {
  background-color: #79158f;
}

.serviceContainer input:checked {
  background-color: red;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkBoxFill:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.serviceContainer input:checked ~ .checkBoxFill:after {
  display: inline-block;
}

/* Custom Scroll CSS Design */
.checkboxContainerList::-webkit-scrollbar-track {
  border: 1px solid #f3f1f3;
  padding: 1px 0;
  background-color: #f3f1f3;
}

.checkboxContainerList::-webkit-scrollbar {
  width: 10px;
}

.checkboxContainerList::-webkit-scrollbar-thumb {
  border-radius: 1px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  background-color: #79158f;
  border: 1px solid #f3f1f3;
}

.addAnotherIcon {
  font-family: "AvenirLTStd-Book";
  color: #79158f;
  float: right;
  cursor: pointer;
}

.addAnotherIcon:hover {
  color: #b823dad3;
}

.addAnotherIcon img {
  padding-bottom: 3px;
  margin-right: 5px;
}

#saveProfileButton {
  margin-top: 25px;
  margin-bottom: 100px;
  padding: 20px 100px 20px 100px;
}
