.subscriptionCard .card-title {
  margin-left: 50px;
  margin-bottom: 15px;
}

.subscriptionCard .card-header {
  padding-top: 40px;
  padding-bottom: 40px;
}

.subscriptionCard .card-body {
  text-align: left;
  font-family: "AvenirLTStd-Book";
}

.subscriptionCard ul {
  margin-left: 5px;
  list-style: none;
}

.subscriptionCard li {
  font-size: 1.1em;
  padding: 0em 0 0.5em 35px;
  background: url("../../assets/icons/icon_check.svg") no-repeat;
}

.subscriptionCard button {
  margin-top: 40px;
  padding: 20px 75px 20px 75px;
}

.planPriceStyle {
  color: #79158f;
  font-size: 3.5em;
}

.planTypeStyle {
  color: #79158f;
  font-size: 1.8em;
  font-weight: 600;
}

.planTypeDescStyle {
  color: #5b5b5b;
  font-size: 1.2em;
}
