/* Deskotp Styles */
.footerStyle {
  margin: 0.5% 15% 0.5% 15%;
  font-family: "AvenirLTStd-Book";
  font-size: 1em;
  color: #4F4F4F;
}

.iconStyles {
  float: right;
}

.footerStyle .nav-link {
  display: flex;
  position: relative;
  margin-left: 16px !important;
  color: #5b5b5b !important;
}

.footerStyle a.nav-link:hover {
  color: #79158f !important;
}

.footerStyle a.nav-link:active {
  color: #79158f !important;
}

.footerStyle .navBarEffect:after {
  bottom: 0;
  content: "";
  height: 2px;
  left: 50%;
  position: absolute;
  background-color: #79158f;
  width: 0;
  transition: width 0.6s ease 0s, left 0.6s ease 0s, height 0.6s ease 0s,
    background-color 0.6s linear;
}

.footerStyle .navBarEffect:hover:after {
  background-color: #79158f;
  width: 100%;
  height: 2px;
  left: 0;
}

@media screen and (max-width: 992px) {
  .footerStyle .navbar-nav {
    display: flex;
    flex-direction: row;
  }
}

/* Mobile Styles */

.footerStyleMobile {
  font-family: "AvenirLTStd-Book";
  font-size: 1em;
  letter-spacing: 0;
  line-height: 0.5em;
  font-weight: bold;
  color: #4F4F4F;
  text-align: center;
}

.justify-content-center {
  display: flex;
  justify-content: center;
  padding-top: 3%;
}

.footerSocialMedia {
  margin-bottom: 5%;
}
