/* Deskotp Styles */
.footerStyle {
  margin: 0.5% 15% 0.5% 15%;
  font-family: "AvenirLTPro-Heavy";
  font-size: 1em;
}

.iconStyles {
    float: right;

}

@media screen and (min-width: 992px) {
    .footerStyle .nav-link  {
      margin-left: 16px !important;
    }
}


/* Mobile Styles */

.footerStyleMobile {
  font-family: "AvenirLTPro-Heavy";
  font-size: 2vh;
}

.justify-content-center{
  display: flex;
  justify-content: center;
  padding-top: 3%;
}

.footerStyleMobile {
  text-align: center;
}

.footerSocialMedia {
  margin-bottom: 5%;
}
