/* DESKTOP STYLES */
.navBar {
  padding: 20px 15% 20px 15%;
  font-family: "AvenirLTPro-Heavy";
  background-color: white;
  outline: solid;
  outline-color: gray;
  outline-width: thin;
}

.navBar .navBar-links .nav-link {
  display: flex;
  position: relative;
  color: #79158f !important;
  /* color: white !important; */
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 1em;
}

.navBar .navBar-links a.nav-link:hover {
  color: #b823dad3 !important;
}

.navBar .navBar-links a.nav-link:active {
  color: #79158f !important;
}

.navBar .navBarEffect:after {
  bottom: 0;
  content: "";
  height: 2px;
  left: 50%;
  position: absolute;
  background-color: #b823dad3;
  width: 0;
  transition: width 0.5s ease 0s, left 0.5s ease 0s;
}

.navBar .navBarEffect:hover:after {
  background-color: #79158f;
  width: 100%;
  left: 0;
}

@media screen and (min-width: 992px) {
  .navBar .navBar-links .nav-link {
    margin-left: 16px !important;
  }
  .highlightNav {
    border: 2px solid #79158f;
    /* border: 2px solid white; */
    padding: 10px 40px 10px 40px !important;
  }
}

/* NAVBAR STYLE 2 */
.navBar2 {
  padding: 20px 15% 20px 15%;
  font-family: "AvenirLTPro-Heavy";
}

.navBar2 .navBar2-links .nav-link {
  display: flex;
  position: relative;
  color: white !important;
  /* color: white !important; */
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 1em;
}

.navBar2 .navBar2-links a.nav-link:hover {
  color: lavender !important;
}

.navBar2 .navBar2-links a.nav-link:active {
  color: lavender !important;
}

.navBar2 .navBar2Effect:after {
  bottom: 0;
  content: "";
  height: 2px;
  left: 50%;
  position: absolute;
  background-color: lavender;
  width: 0;
  transition: width 0.5s ease 0s, left 0.5s ease 0s;
}

.navBar2 .navBar2Effect:hover:after {
  background-color: lavender;
  width: 100%;
  left: 0;
}

@media screen and (min-width: 992px) {
  .navBar2 .navBar2-links .nav-link {
    margin-left: 16px !important;
  }
  .highlightNav2 {
    border: 2px solid white;
    /* border: 2px solid white; */
    padding: 10px 40px 10px 40px !important;
  }
}


/* Navbar 1 MOBILE STYLES */
.navBarMobile {
  padding: 5% 10% 5% 10%;
  font-family: "AvenirLTPro-Heavy";
  background-color: white;
  outline: solid;
  outline-color: gray;
  outline-width: thin;
}

.navBarMobile .navBarMobile-links .nav-link {
  color:  #79158f;
}

#responsive-navbarMobile-nav{
  height: 100vh;
}

.navBarMobile .navBar-collapse{
  height: 100vh;
}

#mobile_logo {
  height: 5vh;
}

@media screen and (max-width: 992px) {
  .navbar-nav .nav-link {
    margin-top: 8px !important;
  }
}

.highlightNavMobile {
  margin-top: 5vh;
  border: 1px solid #79158f;
  text-align: center;
  color: #79158f;
}


/* Navbar 2 Mobile Styles*/
.navBarMobile2 {
  padding: 5% 10% 5% 10%;
  font-family: "AvenirLTPro-Heavy";
}

#responsive-navbarMobile2-nav{
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: #79158f;
}

.navBarMobile2 .navBarMobile-links{
  padding-top: 3vh;
}
.navBarMobile2 .navBarMobile-links .nav-link {
  color:  white;
}

.highlightNavMobile2 {
  margin-top: 5vh;
  border: 1px solid white;
  text-align: center;
  color: white;
}

.navbar-dark .navbar-toggler {
  border-color: transparent;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

.navbar-light .navbar-toggler {
  border-color: transparent;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28121, 21, 143, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

#desktopBurger{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}


