/* DESKTOP STYLES */
.ctaStyle {
  display: block;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
 
  padding-top: 500px;
  height: 100%;
  width: auto;
  text-align: center;
  position: relative;
  font-family: "AvenirLTStd-Book";
  white-space: pre-line;
}

.ctaStyle-text {
  text-align: left;
  margin: 0;
  color: white;
  position: absolute;
  transform: translate(30%, -155%);
}

#ctaTitle {
  font-size: 1.6em;
  font-weight: 600;
  font-family: "AvenirLTStd-Book";
}

#ctaDesc {
  margin-top: 2%;
  font-size: 1em;
  font-weight: 200;
}

#ctaButton {
  margin-top: 2%;
  padding: 20px 75px 20px 75px;
  font-size: 1em;
}

#signUpContainer {
  background-color: #f5f5f5;
}

#ctaSignUp {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  margin: 0;
  color: #79158f;
  font-size: 1.3em;
  font-family: "AvenirLTPro-Heavy";
}

#ctaSignUpForm {
  margin-top: 85px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 40px;
  font-weight: 100;
  font-family: "AvenirLTStd-Book";
  background-color: white;
}

#ctaSignUpFormSubmit {
  margin-top: 85px;
  background-color: rgb(255, 255, 255);
  border-top: 1px solid #ced4da;
  border-right: 1px solid #ced4da;
  border-bottom: 1px solid #ced4da;
  padding: 0px 30px 0px 30px;
}

#ctaSignUpFormSubmit:hover {
  border: 1px solid #79158f;
  background-color: lavender;
}

/* MOBILE STYLES */
.ctaStyleMobile {
  display: block;
  text-align: center;
  align-content: center;
  justify-content: center;

  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  margin-left: auto;
  margin-right: auto;
  padding-top: 30%;
  padding-bottom: 30%;

  white-space: pre-line;
}

.ctaStyleMobile-text {
  text-align: center;
  margin: 0;
  color: white;
}

#ctaTitleMobile {
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
  font-family: "AvenirLTStd-Book";
}

#ctaDescMobile {
  text-align: center;
  margin-top: 10%;
  font-size: 1em;
  font-weight: lighter;
  font-family: "AvenirLTStd-Book";
}

#ctaButtonMobile {
  margin-top: 2%;
  background-color: #79158f;
  padding: 15px 55px 15px 55px;
  font-size: 1.125em;
  font-weight: 500;
  font-family: "AvenirLTStd-Book";
}

#SignUpContainerMobile {
  background-color: #f5f5f5;
  padding-bottom: 80px;
}

#ctaSignUpMobile {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 30px;
  margin: 0;
  color: #79158f;
  font-size: 1.125em;
  font-family: "AvenirLTPro-Heavy";
}

#ctaSearchFormMobile {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 40px;
  margin-left: 30px;
  font-weight: 100;
  font-size: 1em;
  background-color: white;
  font-family: "AvenirLTStd-Book";
}

#ctaSearchFormSubmitMobile {
  background-color: rgb(255, 255, 255);
  margin-right: 30px;
  border-top: 1px solid #ced4da;
  border-right: 1px solid #ced4da;
  border-bottom: 1px solid #ced4da;
  padding: 0px 30px 0px 30px;
}

#ctaSearchFormSubmitMobile:hover {
  border: 1px solid #79158f;
  background-color: lavender;
}
