/* DESKTOP STYLES */
.ctaStyle {
  text-align: center;
  position: relative;
  font-family: "AvenirLTStd-Book";
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

}

.ctaStyle img {
  width: 100%;
  height: auto;
}

.ctaStyle-text {
  text-align: left;
  margin: 0;
  color: white;
  position: absolute;
  transform: translate(30%, -135%);
}

#ctaTitle {
  font-size: 1.6vw;
  font-weight: 600;
  font-family: "AvenirLTStd-Book";
}

#ctaDesc {
  margin-top: 2%;
  font-size: 1vw;
  font-weight: 200;
}

#ctaButton {
  margin-top: 2%;
  background-color: #79158F;
  padding: 20px 75px 20px 75px;
  font-size: 1vw;
  font-weight: 500;
}

#ctaSignUp {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  margin: 0;
  color: #79158F;
  font-size: 1.3em;
  font-family: "AvenirLTPro-Heavy";
}

#ctaSearchForm {
  margin-top: 85px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 40px;
  font-weight: 100;
  font-family: "AvenirLTStd-Book";
}

#ctaSearchFormSubmit {
  margin-top: 85px;
  background-color: rgb(255, 255, 255);
  border-top: 1px solid #ced4da;
  border-right: 1px solid #ced4da;
  border-bottom: 1px solid #ced4da;
  padding: 0px 30px 0px 30px;
}

#ctaSearchFormSubmit:hover {
  border: 1px solid #79158F;
  background-color: lavender;
}


/* MOBILE STYLES */
.ctaStyleMobile {
  display: block;
  text-align: center;
  align-content: center;
  justify-content: center;

  font-family: "AvenirLTStd-Book";

  background-image: url("../../assets/images/promotion_bg_vertical.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  margin-left: auto;
  margin-right: auto;
  padding-top: 30%;
  padding-bottom: 30%;
}



.ctaStyleMobile-text {
  text-align: center;
  margin: 0;
  color: white;
}

#ctaTitleMobile {
  font-size: 3.5vh;
  text-align: center;
  font-weight: 600;
  font-family: "AvenirLTStd-Book";
}

#ctaDescMobile {
  text-align: center;
  margin-top: 10%;
  font-size: 2vh;
}


#ctaButtonMobile {
  margin-top: 2%;
  background-color: #79158F;
  padding: 15px 55px 15px 55px;
  font-size: 2vh;
  font-weight: 500;
}

#SignUpContainerMobile{
  background-color: #F5F5F5;
  padding-bottom: 80px;
}

#ctaSignUpMobile {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 30px;
  margin: 0;
  color: #79158F;
  font-size: 1.2em;
  font-family: "AvenirLTPro-Heavy";
}

#ctaSearchFormMobile {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 40px;
  margin-left: 30px;
  font-weight: 100;
  font-size: 2vh;
  font-family: "AvenirLTStd-Book";
}

#ctaSearchFormSubmitMobile {
  background-color: rgb(255, 255, 255);
  margin-right: 30px;
  border-top: 1px solid #ced4da;
  border-right: 1px solid #ced4da;
  border-bottom: 1px solid #ced4da;
  padding: 0px 30px 0px 30px;
}

#ctaSearchFormSubmitMobile:hover {
  border: 1px solid #79158F;
  background-color: lavender;
}
