.motdStyle {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  margin: 0;
  color: #79158F;
  font-size: 1.4em;
  font-weight: 500;
  font-family: "AvenirLTStd-Book";
}

.motdStyleMobile {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 10%;
  margin: 0;
  color: #79158F;
  font-size: 1.125em;
  font-weight: 580;
  font-family: "AvenirLTStd-Book";
}
