/* DESKTOP STYLES */
.pageHeader {
  display:block;

  /* background-image: url("../../assets/images/for_practitioners_header.jpg"); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  position: relative;
  padding-top: 650px;

  height: 100%;
  width: auto;
  font-family: "AvenirLTStd-Book";

  white-space: pre-line;
}

#scrollDownButton {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 2%;
  padding-bottom: 2%;
}

.pageHeader-text {
  text-align: left;
  margin: 0;
  color: white;
  position: absolute;
  transform: translate(28%, -145%);
}

#headerTitle {
  font-size: 2em;
  font-weight: 500;
  font-family: "AvenirLTPro-Heavy";
  white-space: pre-line;
}

#headerDesc {
  margin-top: 1%;
  margin-bottom: 5%;
  font-size: 1.5em;
  font-weight: 200;
}

#headerButton {
  padding: 20px 75px 20px 75px;
  font-size: 1.5em;
}

.break-word {
  word-wrap: break-word;
}


/* MOBILE STYLES */
.pageHeaderMobile {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: auto;
  top: 0;
  font-family: "AvenirLTStd-Book";
  width: auto;
  height: 100vh;
  padding-top: 50%;
  padding-bottom: 15%;
  display: flex;
  font-size: 18px;
}


.pageHeaderMobile-text {
  text-align: center;
  color: white;
}

#headerTitleMobile {
  font-size: 1.33em;
  font-weight: bold;
  line-height: 34px;
  font-family: "AvenirLTStd-Book";
}

#headerDescMobile {
  font-family: "AvenirLTStd-Book";
  margin-top: 1%;
  margin-bottom: 5%;
  font-size: 1em;
  font-weight: 300;
}

#headerButtonMobile {
  background-color: #79158f;
  font-size: 1em;
  font-weight: bold;
  font-family: "AvenirLTStd-Book";
  margin-top: 3vh;
  padding: 1em 4em 1em 4em;
}

.break-wordMobile {
  word-wrap: break-word;
}

#scrollDownButtonMobile {
  align-self: center;
  width: 1.9em;
  height:auto;
  padding-top: 80%;
}
