.aboutFluidContainer {
  width: 1300px;
  padding-top: 60px;
  white-space: pre-line;
}

#mainFrame {
  display: block;
  border-radius: 50%;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  white-space: pre-line;
}

#lightHeader {
  font-family: "AvenirLTStd-Book";
  color: #79158f;
  text-align: center;
  font-size: 21px;
  padding-left: 36%;
  padding-right: 36%;
  padding-bottom: 30px;
  white-space: pre-line;
}

@media (max-width: 900px) {
  #lightHeader {
    margin-left: -40%;
    margin-right: -40%;
    white-space: pre-line;
  }
}

#heavyHeader {
  font-family: "AvenirLTPro-Heavy";
  color: #79158f;
  text-align: center;
  margin-top: 50px;
  font-size: 22px;
  white-space: pre-line;
}

#big-description {
  font-family: "AvenirLTStd-Book";
  font-size: 22px;
  text-align: left;
  padding-left: 27%;
  padding-right: 27%;
  color: #5b5b5b;
  white-space: pre-line;
}

@media (max-width: 900px) {
  #big-description {
    font-size: 20px;
    text-align: center;
    margin-left: -25%;
    margin-right: -25%;
    white-space: pre-line;
  }
}

blockquote {
  font-family: Georgia, serif;
  font-size: 24px;
  margin: 0.5em 10px;
  padding: 0 10px;
  quotes: "\201C";
  padding: 10px 20px;
  line-height: 1.4;
  text-align: center;
  white-space: pre-line;
}

blockquote:before {
  content: open-quote;
  display: inline;
  line-height: 0;
  left: -10px;
  position: relative;
  top: 30px;
  color: #79158f;
  font-size: 2em;
  white-space: pre-line;
}

#clientMessage {
  font-size: 27px;
  font-family: "AvenirLTStd-Book";
  color: #79158f;
  text-align: center;
  white-space: pre-line;
}

@media (max-width: 900px) {
  #clientMessage {
    font-size: 22px;
    white-space: pre-line;
  }
}

.aboutContentP {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
