.aboutFluidContainer {
  width: 1300px;
  padding-top: 60px;
}

#mainFrame {
  display: block;
  border-radius: 50%;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

#lightHeader {
  font-family: "AvenirLTStd-Book";
  color: #79158f;
  text-align: center;
  font-size: 21px;
  padding-left: 36%;
  padding-right: 36%;
  padding-bottom: 30px;
}

#heavyHeader {
  font-family: "AvenirLTPro-Heavy";
  color: #79158f;
  text-align: center;
  margin-top: 50px;
  font-size: 22px;
}

#big-description {
  font-family: "AvenirLTStd-Book";
  font-size: 22px;
  text-align: left;
  padding-left: 27%;
  padding-right: 27%;
  color: #5b5b5b;
}

blockquote {
  font-family: Georgia, serif;
  font-size: 24px;
  margin: 0.5em 10px;
  padding: 0 10px;
  quotes: "\201C";
  padding: 10px 20px;
  line-height: 1.4;
  text-align: center;
}

blockquote:before {
  content: open-quote;
  display: inline;
  line-height: 0;
  left: -10px;
  position: relative;
  top: 30px;
  color: #79158f;
  font-size: 2em;
}

#clientMessage {
  font-size: 27px;
  font-family: "AvenirLTStd-Book";
  color: #79158f;
  text-align: center;
}
