#aboutTitle {
  padding-top: 180px;
  color: #79158f;
  text-align: center;
  margin-bottom: 70px;
  font-family: "AvenirLTPro-Heavy";
}

#about-paragraph {
  text-align: center;
  font-size: 22px;
  margin-left: 5%;
  margin-right: 5%;
  font-family: "AvenirLTStd-Book";
  color: #5b5b5b;
}

.aboutContainer {
  padding-top: 30px;
  margin-top: 50px;
  padding-bottom: 50px;
  position: relative;
  border-style: solid;
  justify-content: center;
  width: 5000px;
}

#bigParagraph {
  font-family: "AvenirLTStd-Book";
  font-size: 21px;
  text-align: left;
}