.aboutFluidContainer {
  width: 1300px;
  padding-top: 60px;
}

#aboutTitle {
  color: #79158f;
  text-align: center;
  margin-bottom: 70px;
  font-family: "AvenirLTPro-Heavy";
}

.about-paragraph {
  color: black;
  text-align: center;
  font-size: 22px;
  margin-left: 15%;
  margin-right: 15%;
  font-family: "AvenirLTStd-Book";
}

.aboutContainer {
  padding-top: 30px;
  margin-top: 50px;
  padding-bottom: 50px;
  position: relative;
  border-style: solid;
  justify-content: center;
  width: 5000px;
}

.peopleContainer {
  padding-top: 30px;
  margin-top: 50px;
  padding-bottom: 50px;
  padding-left: 170px;
  padding-right: 170px;
  position: relative;
  border-style: solid;
  justify-content: center;
}

#mainFrame {
  display: block;
  border-radius: 50%;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

#linePadding {
  margin-top: 100px;
}

#bigParagraph {
  font-family: "AvenirLTStd-Book";
  font-size: 21px;
  text-align: left;
}

