.newPracContainerStyle {
  padding-top: 4%;
  padding-bottom: 4%;
  background-color: lavender;
}

.newPracListStyle h4 {
  margin-bottom: 4%;
  font-family: "AvenirLTPro-Heavy";
  font-size: 1.3vw;
  font-weight: 500;
}
