.carousel {
  /* Adjust the Carousel dimensions and positioning */
  width: 1440px;
  height: 550px;
  margin: 0 auto;
}

.carousel-item > img {
  width: 100%;
  max-height: 499px;
  object-fit: cover;
  z-index: 1;
  display: inline-block !important;
}

.carousel-inner > .item > img {
  margin: 0 auto;
}

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
.profileCarousel .carousel-img-margin {
  margin-top: 80px !important;
=======
=======
>>>>>>> parent of c592f96... Merge branch 'develop' into practitioner-profile
=======
>>>>>>> parent of c592f96... Merge branch 'develop' into practitioner-profile
.carousel-img-margin{
    margin-top: 80px !important;
>>>>>>> parent of c592f96... Merge branch 'develop' into practitioner-profile
}

@media (max-width: 1280px) {
  .carousel {
    width: auto;
    height: auto;
  }
}
