.profileCarousel .carousel {
  /* Adjust the Carousel dimensions and positioning */
  width: 1440px;
  height: 550px;
  margin: 0 auto;
}

.profileCarousel .carousel-item > img {
  width: 1440px;
  max-height: 499px;
  object-fit: cover;
  z-index: 1;
  display: inline-block !important;
}

.profileCarousel .carousel-inner > .item > img {
  margin: 0 auto;
}

.profileCarousel .carousel-img-margin{
    margin-top: 80px !important;
}
