#profile-image-frame {
  border-radius: 50%;
  width: 230px;
  z-index: 2;
  position: absolute;
  position: relative;
  border: 3px solid white;
  margin-top: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (max-width: 991px) {
  #profile-image-frame {
    display: block;
    margin: 0 auto;
    margin-top: 190px;
  }
}

.practitioner-description-card {
  outline: none;
  border: none;
}

.practitioner-description-card .card-title {
  margin-top: -0px;
  margin-left: -20px;
  font-family: "AvenirLTPro-Heavy";
  color: #5b5b5b;
}

@media (max-width: 991px) {
  .practitioner-description-card .card-body {
    margin-left: 6%;
    margin-right: 12%;
  }
}

.container-dimensions {
  padding-left: 19%;
  padding-right: 17%;
  margin-top: -200px;
  padding-bottom: 80px;
}

@media (max-width: 991px) {
  .container-dimensions {
    padding-left: 0%;
    padding-right: 0%;
    margin-left: 0%;
  }
}

.contact-card-column {
  padding-left: 0%;
  padding-right: 0%;
  margin-right: 0%;
  margin-left: 0%;
}

@media (max-width: 768px) and (min-width: 550px) {
  .contact-card-column {
    margin-left: -20%;
  }
}

@media (max-width: 991px) and (min-width: 769px) {
  .contact-card-column {
    margin-top: -20%;
    margin-bottom: 5%;
  }
}

.practitioner-logo {
  vertical-align: text-top;
  float: right;
  margin-top: -35px;
}

@media (max-width: 1280px) {
  .practitioner-logo {
    display: none;
  }
}

.no-padding {
  margin-right: 0 !important;
  padding-right: 0 !important;
}

.font-body {
  font-size: 19px;
  font-family: "AvenirLTStd-Book";
  color: #5b5b5b;
}

#category-text {
  color: #79158f;
  font-size: 19px;
  font-family: "AvenirLTStd-Book";
}

#suburb-profile,
#city-profile {
  font-size: 19px;
  font-family: "AvenirLTStd-Book";
  color: #5b5b5b;
}

#location,
#category {
  text-align: left;
}

@media (max-width: 991px) {
  #category,
  #practitioner-name,
  #location,
  .practitioner-title,
  .practitioner-name {
    text-align: center;
  }
}

.accordion-content-list-style {
  font-family: "AvenirLTPro-Heavy";
  list-style-type: none;
  padding-top: 10px;
  padding-left: 0;
  padding-bottom: 15px;
  margin: 0;
  color: #79158f;
}

.box {
  background-color: #f2e9f4;
  color: #79158f;
  font-family: "AvenirLTStd-Book";
  font-size: 19px;
  padding-top: 7px;
  padding-bottom: 7px;
  text-align: center;
  width: 250px;
}

@media (max-width: 991px) {
  .box {
    display: none;
  }
}

.arrow-position {
  float: right;
  padding-top: 10px;
}

.practitioner-title {
  padding-top: 30px;
  color: #79158f;
  font-family: "AvenirLTPro-Heavy";
}

.practitioner-name {
  color: #79158f;
  font-family: "AvenirLTPro-Heavy";
  padding-top: 10px;
  padding-bottom: 10px;
}

#container.one-column {
  display: flex;
  flex-direction: column;
  height: auto;
}

.accordion-section {
  font-family: "AvenirLTStd-Book";
  margin: none;
}

@media (max-width: 991px) {
  .accordion-section {
    padding-left: 8%;
    padding-right: 12%;
  }
}

.accordion-section .card {
  border-right: 0px solid rgba(0, 0, 0, 0);
  border-left: 0px solid rgba(0, 0, 0, 0);
  width: 100%;
}

.accordion-section .card-header {
  background-color: white;
  padding-top: 25px;
  padding-bottom: 25px;
  font-family: "AvenirLTPro-Heavy";
  color: #5b5b5b;
  margin-left: -20px;
  margin-right: -20px;
}

.accordion-section .accordion {
  margin-left: -3%;
  margin-right: -3%;
}

.accordion-section .card-body {
  margin-left: -2.5%;
  font-family: "AvenirLTPro-Heavy";
  color: #5b5b5b;
}

.accordion-section .card-header {
  font-family: "AvenirLTPro-Heavy";
  color: #5b5b5b;
  font-size: 1.3em;
}

.training-accordion-body-font {
  font-size: 19px;
  font-family: "AvenirLTStd-Book";
  color: #5b5b5b;
  list-style-type: none;
  padding-top: 10px;
  padding-left: 0;
  padding-bottom: 15px;
  margin: 0;
}
