.newPracContainerStyle {
  padding-top: 4%;
  padding-bottom: 4%;
  background-color: #f3f1f3;
}
.newPracContainerStyle .container {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.newPracListStyle h4 {
  margin-bottom: 4%;
  font-family: "AvenirLTPro-Heavy";
  font-size: 1.3vw;
  font-weight: 500;
  color: #5b5b5b;
}

.newPracListStyle a {
  font-family: "AvenirLTPro-Heavy";
  font-weight: 500;
  font-size: 0.9vw;
  color: #79158f;
}

/* Mobile Styles */
#pracListHeader {
  font-size: 3vh;
  font-family: "AvenirLTPro-Heavy";
  color: #5b5b5b;
  text-align: center;
  padding-bottom: 5%;
  padding-top: 5%;
}

.newPracCarouselStyle .carousel-indicators li {
  background-color: #5b5b5b;
  border-radius: 50%;
  height: 1.5vh;
  width: 1.5vh;
  margin-left: 10px;
  margin-right: 10px;
}

.newPracCarouselStyle .carousel-indicators .active {
  background-color: #79158f;
}


.newPracCarouselStyle .carousel-control-prev-icon {
  background-image: url(../../assets/icons/carousel_arrow_left.svg);
  width: 6vh;
  height: 6vh;
  margin-bottom: 15vh;
}

.newPracCarouselStyle .carousel-control-next-icon {
  background-image: url(../../assets/icons/carousel_arrow_right.svg);
  width: 6vh;
  height: 6vh;
  margin-bottom: 15vh;
}
