.featureCarouselStyle {
  background-image: linear-gradient(white, #f3f1f3);
  padding-bottom: 50px;
}

.featureCarouselStyle .carousel-indicators li {
  background-color: #79158f;
}

.featureCarouselStyle .carousel-control-prev-icon {
  background-image: url(../../assets/icons/carousel_arrow_left.svg);
  width: 40px;
  height: 40px;
}

.featureCarouselStyle .carousel-control-next-icon {
  background-image: url(../../assets/icons/carousel_arrow_right.svg);
  width: 40px;
  height: 40px;
}
