.practitionerCTAStyle {
  background-color: #f3f1f3;
  color: #79158f;
  font-family: "AvenirLTPro-Heavy";
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  white-space: pre-line;
  
}
.practitionerCTAStyle h5 {
    font-size: 1.125em;
    white-space: pre-line;
}

.practitionerCTAStyle .col-sm-6 {
    padding-top: 50px;
    padding-bottom: 50px;
    white-space: pre-line;
}

.practitionerCTAStyle button {
  margin-top: 30px;
  border-width: 2px;
  border-color: #79158f;
  color: #79158f;
  padding: 15px 80px 15px 80px;
  white-space: pre-line;
}

.practitionerCTAStyle button:hover {
  background-color: #79158f;
  border-color: black;
  white-space: pre-line;
}

#prac-CTA-1 {
  border-right: 1px solid #ccc;
  white-space: pre-line;
}

#prac-CTA-1-mobile{
  border-bottom: 1px solid #ccc;
  white-space: pre-line;
}
