html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

button:focus {
  outline: none;
}

hr {
  border: none;
  height: 1px;
  /* Set the hr color */
  color: #cacaca; /* old IE */
  background-color: #cacaca; /* Modern Browsers */
}

.primaryCustomButtonStyle {
  font-family: "AvenirLTPro-Heavy";
  background-color: #79158f;
  border-color: rgba(0, 0, 0, 0);
  font-weight: 400;
}

.primaryCustomButtonStyle:hover {
  background-color: lavender;
  color: #79158f;
  border-color: #79158f;
}

.primaryCustomButtonStyle:focus {
  color: lavender;
  background-color: #b823dad3;
  outline: none !important;
  box-shadow: none;
}

.primaryCustomButtonStyle:active {
  color: lavender;
  background-color: #79158f !important;
  outline: none !important;
  box-shadow: none;
}


.siteDefaultMargin {
  margin: 0.5% 15% 0.5% 15%;
}


